<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login Page</h1>
  <a href="/realms/my-realm/protocol/openid-connect/auth?client_id=my-client&response_type=code&scope=openid&redirect_uri=http://localhost:3000/callback">Login with Keycloak</a>
</body>
</html>